---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Blog | Shea Leslein">
    <h1>Blog</h1>
    <PostList posts={sortedPosts} />
</BaseLayout>