---
---

<span class="post-tag"><slot /></span>

<style>
    .post-tag {
        background-color: var(--ctp-surface0);
        color: var(--ctp-blue);
        border-radius: .25rem;
        font-size: .625rem;
        padding: .125rem .5rem;
        margin-left: .5rem;
        text-transform: uppercase;
    }
</style>